body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    background-color: white;
    height: 100px;
    border: 2px;
    padding: 10px;
}

footer{
    background-color: white;
    height: 100px;
    border: 2px;
    padding: 10px;
    
}
.topnave-left{
    float: left;
    display: block;
    color: BLACK;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    display: block;
    color: BLACK;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
    float: right;
  }
  
  .topnav a:hover {
    border-bottom: 3px solid red;
  }
  
  .topnav a.active {
    border-bottom: 3px solid red;
  }